.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b4161b;
  color: white;
  font-size: 20px;
  padding: 1px 0;
}
.logo {
  width: 160px;
}
.nav-items {
  margin-right: 12px;
}
.nav-items > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}
.nav-items > ul > li {
  margin: 10px;
  padding: 15px;
  list-style-type: none;
}
.login-btn {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
/* .search {
  padding: 10px;
  margin: 2px;
  border: 2px solid black;
} */

.filter {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.filter-btn {
  cursor: pointer;
  margin: 0px 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  /* align-items: center; */
  /* justify-content: start; */
}
.res-card {
  color: white;
  padding: 2px;
  width: 210px;
  background: #242b2e;
  /* height:300px; */
  margin: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
}
.res-card:hover {
  cursor: pointer;
  box-shadow: 9px 6px 11px 0px grey;
}
.res-image {
  margin: 1px;
  padding: 1px;
  width: 200px;
  height: 130px;
  border-radius: 10px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
}
.shimmer-card {
  color: white;
  padding: 1px;
  width: 210px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}
.link {
  text-decoration: none;
  color: white;
  display: flex;
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  margin: 2px;
  color: white;
  background: #242b2e;
  /* flex-wrap:wrap; */
}

li {
  /* margin: 2px; */
  /* padding: 2px; */
  list-style-type: none;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  background: #f0f0f0;
  /* border: 2px solid black; */
}
.menu-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 5px;
  padding: 1px;
  background: #242b2e;
  color: white;
  border-radius: 10px;
  width: 600px;
  box-sizing: border-box;
}
.menu-item:hover {
  cursor: pointer;
  box-shadow: 9px 6px 11px 0px grey;
}
/*============== Toggle Switch CSS==========================*/
.switch-container {
  display: flex;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ============CSS for User Card====================== */
.user-card {
  border: 1px solid black;
  background-color: #242b2e;
  color: white;
  width: 300px;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}
.user-card:hover {
  cursor: pointer;
  box-shadow: 9px 6px 11px 0px grey;
}
