.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b4161b;
  color: white;
  font-size: 20px;
  padding: 1px 0;
}
.logo {
  width: 160px;
}
.nav-items {
  margin-right: 12px;
}
.nav-items > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}
.nav-items > ul > li {
  margin: 10px;
  padding: 15px;
  list-style-type: none;
}
.login-btn{
  cursor: pointer;
  padding:10px;
  margin: 10px;
}
/* .search {
  padding: 10px;
  margin: 2px;
  border: 2px solid black;
} */

.filter-btn{
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  /* align-items: center; */
  /* justify-content: start; */
}
.res-card {
  color: white;
  padding: 1px;
  width: 210px;
  margin: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
}
.res-card:hover {
  cursor: pointer;
  box-shadow: 9px 6px 11px 0px grey;
}
.res-image {
  margin: 1px;
  padding: 1px;
  width: 200px;
  height: 130px;
  border-radius: 10px;
}
.shimmer-container{
  display: flex;
  flex-wrap:wrap;
  border: 2px solid black;
}
.shimmer-card{
  color: white;
  padding: 1px;
  width: 210px;
  height:400px;
  background-color: #f0f0f0;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}
